@import 'fonts';
@import 'vars';
@import 'media-queries';
@import 'utils';

//HTML TAGS
body{
    margin: 0;
    padding: 0;
    @include set-text('NotoLight', false, false);
}

header {
    width: 100%;
    background: url(../imgs/header.jpg);
    background-size: cover;
}

h1{
    width: 100%;
    padding: 5em 0 3em 0;
    @include set-text('NotoLight', 2.4em, $white-copy);
    text-align: center;
    line-height: 2em;

    @include respond-to($phone) {
        @include set-text(false, 1.5em, false);
    }

}

h2{
    @include set-text('NotoLight', false, false);
    margin-bottom: 1em;
}

h3{
    width: 100%;
    @include set-text('NotoRegular', false, false);
}

p{
    @include respond-to($phone){
        font-size: 1em !important;
    }
}

footer{
    width: 100%;
    background: $dark-bg;

    p{
        @include set-text('NotoBold',false, $visit-me-color);
        float: right;
        margin: .6em 0 .6em 0;

        @include respond-to($phone){
            float: inherit;
            text-align: center;
        }
    }

    @include respond-to($phone){
        padding: 1em 0;
        text-align: center;
        font-size: 0.9em;
    }
}

.container-fluid {
    padding: 0;
}

.row{
    width: 100%;
    margin: 0;
}

.logo{
    @include set-text('NotoBold', 2em, $white-copy);
    text-decoration: none;
    transition: all ease .5s;

    &:hover{
        color: $light-blue;
        text-decoration: none;
    }
    @include respond-to($phone) {
        @include set-text(false, 1.2em, false);
    }
}

.light-blue{
    color:$light-blue;
}

.nav-top {
    width: 100%;
    background: $nav-bg;
    padding: 1.5em;

    @include respond-to($phone) {
        background: $dark-bg;
    }

    ul{
        float: right;
        margin: .6em 0 0;
        padding: 0;

        li{
            display: inline;
            padding: 1em;
            @include set-text('NotoBold', .9em, $white-copy);

            a{
                display: inline-block;
                color: $white-copy;
                border: 2px solid rgba(0,0,0,0);
                text-decoration: none;
                padding: .5em 1em;
                
                &:hover{
                    color: $light-blue;
                    border: 2px solid $light-blue;
                    text-decoration: none;
                    transition: all ease .5s;
                }
            }

            @include respond-to($phone) {
                display: block;
            }
        }
        //mobile menu layout
        @include respond-to($phone) {
             width: 100%;
             height: 100vh;
             background: $visit-me-color;
             position: absolute;
             top: 4em;
             left: -100%;
             padding: 4em 0 0;
             text-align: center;
             transition: .5s;
        }
    }
}

//mobile menu bars
.bars{
    display: none;
    @include respond-to($phone) {
        display: block;
        width: 20px;
    }
}
//hide checkbox for mobile menu
#menu{
    display: none;
}
//mobile menu animation
#menu:checked ~ ul{
    @include respond-to($phone) {
        left: 0;
    }
}

.wh-border{
    &:after {
        content: '';
        display: block;
        width: 1.7em;
        padding-top: .25em;
        border-bottom: 3px solid $white-copy;
    }
}

.dk-border {
    &:after {
        content: '';
        display: block;
        width: 1.7em;
        padding-top: .25em;
        border-bottom: 3px solid $dark-bg;
    }
}

.around-title{
    background:$dark-bg;
    padding: 0 .5em;
}

.services{
    background: $light-blue;
    color: $white-copy;
    padding: 4em 0 3em;

    img{
        margin: 1em 0;
    }

    p{
        @include set-text('NotoRegular', .75em, false);
    }

    @include respond-to($phone) {
        padding: 2em 0 1.5em;
    }
}

.portfolio{
    padding: 4em 0;

    ul{

        li{
            display: inline;
            cursor: pointer;
            padding: .5em;
            border: 2px solid $white-copy;
            @include set-text('NotoBold', .9em, false);
            transition: all ease .5s;

            &:hover{
                border: 2px solid $light-blue;
                color: $light-blue;
            }
        }

        @include respond-to($phone) {
            padding: 0;
            text-align: center;
        }
    }

    @include respond-to($phone) {
        padding: 2em 0;
    }
}

.work-items{
    padding: 0;
    text-align: center;
}

.work{
    display: inline-block;
    padding: 0;
    position: relative;
    margin: .5em;
    cursor: pointer;

    img{
        width: 100%;
        height: auto;
    }

    @include respond-to($phone) {
        margin: 0.5em 0;
    }
}

.inner{
    width:100%;
    height: 100%;
    background: $dark-bg;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 0;
    transition: opacity .5s;

    p{
        width: 100%;
        margin: 0;
        text-align: center;
        @include set-text('NotoLight', 3em, $white-copy);
       
    }

    &:hover{
        opacity: .9;
        transition: opacity .5s;
    }
}

.default-section{
    background: $dark-bg;
    color: $white-copy;
    padding: 4em 0 1em;

    p{
        font-size: .75em;
        line-height: 2em;
    }

    @include respond-to($phone) {
        padding: 2em 0;
    }
}

.visit-me{
    display: inline-block;
    margin: 1em 0 0;
    color: $visit-me-color;
    border: 1px solid $visit-me-color;
    padding: .5em 2em;
    font-size: .75em;
    transition: all ease .5s;

    &:hover{
        color: $light-blue;
        border: 1px solid $light-blue;
        text-decoration: none;
    }

    @include respond-to($phone){
        width: 100%;
        font-size: 1em;
        text-align: center;
        text-decoration: none;
    }
}

.video-container {

    @include respond-to($phone){
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin-top: 2em;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
  }

.twitter{
    background: $light-blue;
    color: $white-copy;
    padding: 3em 0 1.5em;

    i{
        position: absolute;
        right: 0;
        font-size: 2.5em;
    }

    p{
        font-size: 1.75em;
        font-family: 'NotoLight';
    }

    @include respond-to($phone){
        padding: 2em 0 .5em;
    }
}

.mention{
    font-family: 'NotoRegular';
}

.john-doe{
    background: url(../imgs/camera.jpg);
    background-size: cover;
    color: $white-copy;
    padding: 4em 0 5em;
    
    p {
        font-size: .75em;
        font-family: 'NotoLight';
    }

    ul{
        padding: 0;

        @include respond-to($phone){
            text-align: center;
        }

        li{
            display: inline;
            text-align: center;

            &:not(:first-child){
                margin-left: 1em;
            }
        }
    }

    img{
        width: 50%;
    }

    @include respond-to($phone) {
        background-position: center;
        padding: 2em 0 1.5em;
    }

}

.social{
    display: inline-block;
    width: 56px;
    padding: .3em 0;
    color: $white-copy;
    border: 2px solid $white-copy;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    &:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $light-blue;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover:before{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.testimonials{

    padding: 3em 0 2em;

    i{
        position: absolute;
        right: 0;
        font-size: 2.5em;
    }

    p{
        font-size: 1.70em;
        font-family: 'NotoLight';
    }

}

.name-testimonial{
    color: $light-blue;
    font-size: .75em !important;
    font-family: 'NotoLight';
}

.contact {
    background: url(../imgs/contact.jpg);
    background-size: cover;
    color: $white-copy;
    padding: 4em 0;

    p{
        font-size: .75em;
        font-family: 'NotoRegular';
    }

    label{
        width: 100%;
        font-family: 'NotoBold';
        font-size: .75em;
    }

    input[type=text]{
        width: 90%;
        border: 1px solid $white-copy;
        background: no-repeat;
        padding: 1em;
        color: $white-copy;

        @include respond-to($phone){
            width: 100%;
        }
    }

    textarea{
        width: 100%;
        background: none;
        border: 1px solid $white-copy;
        background: no-repeat;
        padding: 1em;
        color: $white-copy;
    }

    input[type=submit] {
        font-family: 'NotoBold';
        background: $light-blue;
        padding: 1em 8em;
        border: none;
        color: $white-copy;
        transition: all ease .5s;

        &:hover{
            color: $light-blue;
            background: $white-copy;
        }
    }

    @include respond-to($phone){
        padding: 2em 0;
    }
}

.address{
    @include respond-to($phone){
        order:-1
    }   
}

.user-info{
    @include respond-to($phone){
        padding: 0;
    }
}

.nav-bottom{

    ul {
        float: left;
        margin: .6em 0 0;
        padding: 0;

        li {
            display: inline;
            font-family: 'NotoBold';
            font-size: .9em;
            padding: 1em 0 0 1em;

           &:not(:last-child):after{
                content: '|';
                padding-left: 1em;
                color: $visit-me-color;
            }

            a {
                display: inline-block;
                color: $visit-me-color;
                text-decoration: none;

                &:hover {
                    color: $light-blue;
                    text-decoration: none;
                    transition: all ease .5s;
                }
            }
        }
    }
}

.col-10{
    @include respond-to($phone) {
        width: 100%;
    }
}